/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$ruby-red: #9b111e;
$misty-rose: #ffe4e1;

$navbar-inverse-bg: $ruby-red;
$navbar-inverse-link-color: $misty-rose;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$font-family-serif: Georgia, "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;

@import "bootstrap";

body {
  padding-top: 50px;
}

.navbar-brand {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

h1, h2 {
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}
